:root {
    --primary-color: #9A94EF;
    --secondary-color: #C794EF;
    --black: #000000;
    --white: #ffffff;
    --gray: #efefef;
    --gray-2: #757575;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
    background-color: var(--gray);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;  /* Ensures the container takes the full viewport height */
    width: 100%;
    background: linear-gradient(-45deg, var(--primary-color), var(--secondary-color));
}

.form-wrapper {
    width: 100%;
    max-width: 28rem;
    background-color: var(--white);
    padding: 2rem;
    border-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
}

.form {
    display: flex;
    flex-direction: column;
}

.input-group {
    position: relative;
    width: 100%;
    margin: 1rem 0;
}

.input-group i {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    font-size: 1.4rem;
    color: var(--gray-2);
}

.input-group input {
    width: 100%;
    padding: 1rem 3rem;
    font-size: 1rem;
    background-color: var(--gray);
    border-radius: .5rem;
    border: 0.125rem solid var(--white);
    outline: none;
}

.input-group input:focus {
    border: 0.125rem solid var(--primary-color);
}

.form button {
    cursor: pointer;
    width: 100%;
    padding: .6rem 0;
    border-radius: .5rem;
    border: none;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 1.2rem;
    outline: none;
}

.form .send-otp-btn {
    width: auto;
    background: none;
    color: var(--primary-color);
    font-size: 0.9rem;
    margin-top: 0.5rem;
    cursor: pointer;
    border: none;
    padding: 0;
}

.timer {
    font-size: 0.9rem;
    color: var(--primary-color);
    margin: 0.5rem 0;
}
