{% extends "base.html" %}
{% block baseContents %}
{% load static %}

<!-- sidebar start here -->
<div class="container-fluid">
  <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" style="background-color: white; border: 1px solid #9A94EF;">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
              <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                  <span class="fs-5 d-none d-sm-inline">Menu</span>
              </a>
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                  <li class="nav-item">
                      <a href="{% url "account" %}" class="nav-link align-middle px-0">
                          <i class="fs-4 bi-person mx-2"></i> <span class="ms-1 d-none d-sm-inline">Account</span>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a href="{% url "address" %}" class="nav-link px-0 align-middle">
                          <i class="fs-4 bi-geo-alt mx-2"></i> <span class="ms-1 d-none d-sm-inline">Address</span></a>
                  </li>
                  <li>
                      <a href="{% url "order" %}" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                          <i class="fs-4 bi-bag mx-2"></i> <span class="ms-1 d-none d-sm-inline">Order</span></a>
                  </li>
                  <li>
                      <a href="{% url "coupon" %}" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                          <i class="fs-4 bi-ticket mx-2"></i> <span class="ms-1 d-none d-sm-inline">Coupon</span> </a>
                  </li>
                  <li>
                      <a href="{% url "wellat" %}" class="nav-link px-0 align-middle">
                          <i class="fs-4 bi-wallet2 mx-2"></i> <span class="ms-1 d-none d-sm-inline">Wellat</span> </a>
                  </li>
                  <li>
                    <button type="button" class="btn btn-outline-danger mt-3"><a class="text-dark" href="logout">Logout</a></button>
                  </li>
              </ul>
              <hr>
          </div>
      </div>
      {% block accountContent %}
      
      <div class="col py-3">
          <table class="table">
              <tbody>
                <tr>
                  <th scope="row">Name</th>
                  <td>{{user.first_name|upper}} {{user.last_name|upper}}</td>
                </tr>
                <tr>
                  <th scope="row">Username</th>
                  <td>{{user.username}}</td>
                </tr>
                <tr>
                  <th scope="row">Email</th>
                  <td colspan="2">{{user.email}}</td>
                </tr>
              </tbody>
            </table>
            <button type="button" onclick="confirmPasswordChange('{% url 'changePassword' %}'); return false;" class="btn btn-outline-danger">Change Password</button>
            <button type="button" class="btn btn-outline-success" onclick="confirmEditProfile('{% url 'editProfile' %}'); return false;">Edit Profile</button>
      </div>

      {% endblock  %}
  </div>
</div>

<!-- sidebar end here -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var rows = document.querySelectorAll('.clickable-row');
    
    rows.forEach(function(row) {
        row.addEventListener('click', function(event) {
            // Prevent row click if a button or link was clicked
            if (event.target.tagName.toLowerCase() === 'button' || 
                event.target.tagName.toLowerCase() === 'a') {
                return;
            }
            window.location.href = this.dataset.url;
        });
    });
});

function confirmPasswordChange(url) {
    Swal.fire({
        title: 'Are you sure?',
        text: "You are about to Change Passowrd!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, change Password!'
    }).then((result) => {
        if (result.isConfirmed) {
            window.location.href = url;
        }
    });
}
function confirmEditProfile(url) {
    Swal.fire({
        title: 'Are you sure?',
        text: "You are about to Edit profile!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, Edit Profile!'
    }).then((result) => {
        if (result.isConfirmed) {
            window.location.href = url;
        }
    });
}
</script>
{% endblock %}