{% extends "account.html" %}
{% block accountContent %}
{% load static %}

<div class="container py-3">

    <div class="d-flex justify-content-end mb-4">
        <a href="{% url "addAddress" %}" class="btn btn-outline-success">Add New Address</a>
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Address No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">House No/Number</th>
                    <th scope="col">City</th>
                    <th scope="col">District</th>
                    <th scope="col">State</th>
                    <th scope="col">Zip Code</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for address in addresses %}
                <tr>
                    <td>
                        Address {{ address.id }}
                        <a href="{% url 'editAddress' address.id %}">
                            <i class="bi bi-pencil-fill mx-3"></i>
                        </a>
                    </td>
                    <td>{{ address.name }}</td>
                    <td>{{ address.phone }}</td>
                    <td>{{ address.houseName }}</td>
                    <td>{{ address.city }}</td>
                    <td>{{ address.district }}</td>
                    <td>{{ address.state }}</td>
                    <td>{{ address.zipCode }}</td>
                    <td>
                        <button onclick="confirmRemoveAddress('{% url 'removeAddress' address.id %}'); return false;" style="border: none; background-color: transparent;"><i class="bi bi-trash3-fill" style="color: #9A94EF;"></i></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function confirmRemoveAddress(url) {
        Swal.fire({
          title: 'Are you sure?',
          text: "You are about to Remove The Address!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, Remove It!'
        }).then((result) => {
          if (result.isConfirmed) {
            window.location.href = url;
          }
        });
      }
</script>
{% endblock %}
