{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/resetPassword.css' %}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel='stylesheet'>
    <title>Change Password</title>
</head>
<body>
    <div id="container" class="container">
        <div class="form-wrapper">
            <form method="post" class="form">
                {% csrf_token %}
                <h2>Change Password</h2>
                <p>Enter your Current Password</p>
                <div class="input-group">
                    <i class='bx bxs-lock'></i>
                    <input type="password" placeholder="Current Password" required name="currentPassword">
                </div>
                <p>Enter your new password below</p>
                <div class="input-group">
                    <i class='bx bxs-lock'></i>
                    <input type="password" placeholder="New Password" required name="newPassword">
                </div>
                <div class="input-group">
                    <i class='bx bxs-lock'></i>
                    <input type="password" placeholder="Confirm Password" required name="confirmPassword">
                </div>
                {% include 'messages.html' %}
                <button type="submit">Reset Password</button>
            </form>
        </div>
    </div>
</body>
</html>
