{% extends "adminBase.html" %}

{% block adminContents %}

{% load static %}

<main id="main" class="main">

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Edit Product</h5>
                
                <form class="row g-3" method="post">
                    {% csrf_token %}
                    <div class="col-md-6">
                      <label for="inputName5" class="form-label">Product Name</label>
                      <input type="text" class="form-control" id="inputName5" name="product" pattern=".*\S.*" value='{{product.name}}'>
                    </div>
                    <div class="col-md-6">
                      <label for="inputName5" class="form-label">Resolution</label>
                      <input type="number" class="form-control" id="inputName6" name="resolution" pattern=".*\S.*" value='{{product.resolution}}'>
                    </div>
                    <div class="col-md-6">
                      <label for="inputEmail5" class="form-label">Brand</label>
                      <select id="inputState" class="form-select" name="brand">
                          <option selected value="{{product.brand.id}}">{{product.brand.name}}</option>
                          {% for brand in brands %}
                          <option value="{{brand.id}}">{{brand.name}}</option>
                          {% endfor %}
                      </select>
                  </div>
                  
                  <div class="col-md-6">
                      <label for="inputState" class="form-label">Category</label>
                      <select id="inputState" class="form-select" name="category">
                          <option selected value="{{product.category.id}}">{{product.category.name}}</option>
                          {% for category in categories %}
                          <option value="{{category.id}}">{{category.name}}</option>
                          {% endfor %}
                      </select>
                  </div>                  
                    {% if messages %}
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
                    {% endif %}
                    <!-- Image Fields -->
                    <div class="col-md-12">
                      <label for="image1" class="form-label">Image 1</label>
                      <input type="file" class="form-control" id="image1" name="image1" accept="image/*">
                      <div style='width:300px;'>
                        <img src="{{product.image1.url}}"/>
                      </div>
                      <div class="img-preview" style='width:300px;'>
                          <img id="preview1" alt="Image 1 Preview"/>
                      </div>
                      <button type="button" class="btn btn-secondary btn-confirm-crop" id="confirmCrop1" style="display:none;">Confirm Crop</button>
                      <input type="hidden" id="croppedImage1" name="croppedImage1">
                  </div>

                  <div class="col-md-12">
                      <label for="image2" class="form-label">Image 2</label>
                      <input type="file" class="form-control" id="image2" name="image2" accept="image/*">
                      {% if product.image2 %}
                      <div style='width:300px;'>
                        <img src="{{product.image2.url}}"/>
                      </div>
                      {% endif %}
                      <div class="img-preview" style='width:300px;'>
                          <img id="preview2" alt="Image 2 Preview"/>
                      </div>
                      <button type="button" class="btn btn-secondary btn-confirm-crop" id="confirmCrop2" style="display:none;">Confirm Crop</button>
                      <input type="hidden" id="croppedImage2" name="croppedImage2">
                  </div>

                  <div class="col-md-12">
                    <label for="image3" class="form-label">Image 3</label>
                    <input type="file" class="form-control" id="image3" name="image3" accept="image/*">
                    {% if product.image3 %}
                    <div style='width:300px;'>
                      <img src="{{product.image3.url}}"/>
                    </div>
                    {% endif %}
                    <div class="img-preview" style='width:300px;'>
                        <img id="preview3" alt="Image 3 Preview"/>
                    </div>
                    <button type="button" class="btn btn-secondary btn-confirm-crop" id="confirmCrop3" style="display:none;">Confirm Crop</button>
                    <input type="hidden" id="croppedImage3" name="croppedImage3">
                  </div>

                  <div class="col-md-12">
                      <label for="image4" class="form-label">Image 4</label>
                      <input type="file" class="form-control" id="image4" name="image4" accept="image/*">
                      {% if product.image4 %}
                      <div style='width:300px;'>
                        <img src="{{product.image4.url}}"/>
                      </div>
                      {% endif %}
                      <div class="img-preview" style='width:300px;'>
                          <img id="preview4" alt="Image 4 Preview"/>
                      </div>
                      <button type="button" class="btn btn-secondary btn-confirm-crop" id="confirmCrop4" style="display:none;">Confirm Crop</button>
                      <input type="hidden" id="croppedImage4" name="croppedImage4">
                  </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </form><!-- End Multi Columns Form -->

            </div>
        </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
{% endblock %}