{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Hub</title>
    <link rel="stylesheet" href="{% static "css/forgotPassword.css" %}">
</head>
<body>

    <div class="container">
        <div class="form-wrapper">
            <form id="forgotPasswordForm" action="{% url "sendForgotPassOTP" %}" method="POST" class="form">
                {% csrf_token %}
                <h2>Forgot Password</h2>
                <div class="input-group">
                    <i class="fas fa-envelope"></i>
                    <input type="email" id="email" name="email" placeholder="Enter your email" required>
                </div>
                <button type="submit" id="sendOtpBtn">Send OTP</button>
                <div class="timer" id="timer">45 seconds remaining</div>
            </form>
            <form id="forgotPasswordForm" action="{% url "verifyForgotOTP" %}" method="POST" class="form">
                {% csrf_token %}
                <div class="input-group">
                    <i class="fas fa-key"></i>
                    <input type="text" id="otp" name="otp" placeholder="Enter the OTP" required>
                </div>
                <button type="submit">Verify OTP</button>
            </form>
        </div>
    </div>
    
<script src="{% static "js/forgotPassword.js" %}"></script>
</body>
</html>
